[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@github.com:korovamilk/admin-scripts.git
    url = ssh://git@dev.caritas-freiburg.de/marco.agate/admin-scripts.git
    url = ssh://git@git.agate.pw:21333/marco.agate/admin-scripts.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
